{%extends "base.html"%}
{%load staticfiles%}
{%block content%}
    <div class="container bodyBlock">
        <!-- Image selection-->
        <div class="col-md-12 align-middle">
            <div class="col-md-6">

                <h2>Images</h2>
                <input id="inputImage" type="file" accept='image/*'>
            </div>

            <div class="col-md-6">
                <br><br>
                <button id="sendImage" type="button" class="btn btn-primary btn-lg" disabled onclick="labelImage()">Classify Images<span class="glyphicon glyphicon-send"></span></button>
            </div>
        </div>
    </div>

 	<script type="text/javascript" src="{% static "js/mainFunctions.js" %}"></script>
{% endblock %}