{%extends "base.html"%}
{%load staticfiles%}
{%block content%}
<div class="container bodyBlock">
    <br/><br/>
    <div class="row text-center center-block">
        <div class="form-inline" style="margin-bottom: 16px;">
            <form method="GET">
              <input type="text" class="form-control" name="input" value="{{ input }}">
              <button type="button" class="btn btn-primary">Buscar</button>
            </form>
        </div>
        {% for row in rows %}
            {% if input in row.name %}
            <div class="col-md-4" style="margin-bottom: 16px;">
                <img src="{{ row.url }}" height="50" width="50">
                <div class="overlay">{{ row.name }}</div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
